#navbar{
    
    top: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    background-color: black;
   width: 100%;
   height: 50px;
   text-align: justify;
}

#navbar a{
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    float: left;
    display: block;
}

#foto{
    margin-top: 0;
}

#navbar a:hover{
background-color: teal;
}

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}

